$ff-inter: ("Inter", sans-serif);
$ff-mulish: ("Mulish", sans-serif);

$color-gradient: linear-gradient(114.44deg, #624af2 0%, #50ddc3 100%);
$color-ash: #353744;
$color-body: #4e4b66;
$color-label: #6e7191;
$color-placeholder: #a0a3bd;
$color-line: #e3e4ec;
$color-background: #f8f8fc;

$color-primary: #22a2a2;
$color-secondary: #1b8080;
$color-accent: #4fc2c2;